.htec-jury-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    justify-content: center;
    gap: 1rem;
}

.htec-jury-list>li:is(:hover, :focus-within) {
    transform: scale(1.07);
}

.htec-jury-member {
    margin: 0;
}

.htec-jury-member img {
    max-width: 100%;
    inline-size: 100%;
    aspect-ratio: 1/1.25;
    object-fit: cover;
}

.htec-jury-member span {
    font-weight: 600;
    margin-block-start: .3rem;
    margin-block-end: 0;
}

@media only screen and (min-width: 768px) {

    .ui5con-people-list {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
}