@media screen and (min-width:700px) {
    .schedule {
        display: grid;
        grid-gap: 1em;
        grid-template-rows:
            [tracks] auto
            [time-0900] 1fr
            [time-0905] 1fr
            [time-0910] 1fr
            [time-0915] 1fr
            [time-0920] 1fr
            [time-0925] 1fr
            [time-0930] 1fr
            [time-0935] 1fr
            [time-0940] 1fr
            [time-0945] 1fr
            [time-0950] 1fr
            [time-0955] 1fr
            [time-1000] 1fr
            [time-1005] 1fr
            [time-1010] 1fr
            [time-1015] 1fr
            [time-1020] 1fr
            [time-1025] 1fr
            [time-1030] 1fr
            [time-1035] 1fr
            [time-1040] 1fr
            [time-1045] 1fr
            [time-1050] 1fr
            [time-1055] 1fr
            [time-1100] 1fr
            [time-1105] 1fr
            [time-1110] 1fr
            [time-1115] 1fr
            [time-1120] 1fr
            [time-1125] 1fr
            [time-1130] 1fr
            [time-1135] 1fr
            [time-1140] 1fr
            [time-1145] 1fr
            [time-1150] 1fr
            [time-1155] 1fr
            [time-1200] 1fr
            [time-1205] 1fr
            [time-1210] 1fr
            [time-1215] 1fr
            [time-1220] 1fr
            [time-1225] 1fr
            [time-1230] 1fr
            [time-1235] 1fr
            [time-1240] 1fr
            [time-1245] 1fr
            [time-1250] 1fr
            [time-1255] 1fr
            [time-1300] 1fr
            [time-1305] 1fr
            [time-1310] 1fr
            [time-1315] 1fr
            [time-1320] 1fr
            [time-1325] 1fr
            [time-1330] 1fr
            [time-1335] 1fr
            [time-1340] 1fr
            [time-1345] 1fr
            [time-1350] 1fr
            [time-1355] 1fr
            [time-1400] 1fr
            [time-1405] 1fr
            [time-1410] 1fr
            [time-1415] 1fr
            [time-1420] 1fr
            [time-1425] 1fr
            [time-1430] 1fr
            [time-1435] 1fr
            [time-1440] 1fr
            [time-1445] 1fr
            [time-1450] 1fr
            [time-1455] 1fr
            [time-1500] 1fr
            [time-1505] 1fr
            [time-1510] 1fr
            [time-1515] 1fr
            [time-1520] 1fr
            [time-1525] 1fr
            [time-1530] 1fr
            [time-1535] 1fr
            [time-1540] 1fr
            [time-1545] 1fr
            [time-1550] 1fr
            [time-1555] 1fr
            [time-1600] 1fr
            [time-1605] 1fr
            [time-1610] 1fr
            [time-1615] 1fr
            [time-1620] 1fr
            [time-1625] 1fr
            [time-1630] 1fr
            [time-1635] 1fr
            [time-1640] 1fr
            [time-1645] 1fr
            [time-1650] 1fr
            [time-1655] 1fr
            [time-1700] 1fr
            [time-1705] 1fr
            [time-1710] 1fr
            [time-1715] 1fr
            [time-1720] 1fr
            [time-1725] 1fr
            [time-1730] 1fr;

        grid-template-columns:
            [times] 4em
            [track-1-start] minmax(0, 1fr)
            [track-1-end track-2-start] minmax(0, 1fr);
    }
}

.schedule {
    margin-bottom: 0px;
    text-align: left;
}

.time-slot {
    grid-column: times;
}

.track-slot {
    display: none;
    /* hidden on small screens and browsers without grid support */
}

@supports(display:grid) {
    @media screen and (min-width:700px) {
        .track-slot {
            display: block;
            padding: 10px 5px 5px;
            position: sticky;
            top: 0;
            z-index: 1000;
            border-radius: 6px;
            background-color: var(--brand-color);
        }
    }
}

.session {
    margin-bottom: 1em;
}

@supports(display:grid) {
    @media screen and (min-width: 700px) {
        .session {
            margin: 0;
        }
    }
}

.session {
    padding: .5em;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        /*outline: 4px dotted var(--brand-color);*/
        transform: scale(1.02);
    }
}

.session svg {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-block-start: -4px;
}

.session-past {
    opacity: 0.5;
}

.session-time, .session-track, .session-presenter {
    display: block;
}

.session-time, .session-presenter {
    font-size: var(--text-size);
}

.session-title {
    flex-grow: 1;
    text-align: center;
    margin: auto;
    font-size: 1.25em;
    padding-bottom: 1em;
}

.session-track, .session-presenter {
    padding-top: 0.5em;
}

.session-title a {
    text-align: center;
    word-wrap: break-word;
    white-space: normal;

    font-size: var(--type-0);
    color: #fff;
    text-decoration-style: dotted;
    text-decoration: underline;

    &:hover {
        font-style: italic;
    }

    /*&:focus {
        outline: 2px dotted rgba(255, 255, 255, .8);
    }*/
}

.time-slot {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    color: var(--brand-color)
}

.track-slot {
    font-size: var(--type-0);
    font-weight: bold;
}

.track-1 {
    background-color: var(--brand-color-ui5con);
    color: #fff;
}

.track-2 {
    background-color: var(--brand-color-recap);
    color: #fff;
}

.track-multi {
    background-image: linear-gradient(35deg, var(--brand-color), var(--brand-color-alt));
    color: #fff;
}

.track-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #000;
    box-shadow: none;
}

.text {
    max-width: 750px;
    font-size: 18px;
    margin: 0 auto 50px;
}

.meta {
    color: #555;
    font-style: italic;
}

.meta a {
    color: #555;
}
