.htec-sponsors-logos {
  display: flex;
  gap: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-block-end: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.htec-sponsors-logos a {
  display: block;
}

.htec-sponsors-logos svg {
  width: 12rem;
  fill: var(--logo-color);
  color: var(--logo-color);
  display: block;
  height: auto;
}

.htec-sponsors-table {
  font-size: var(--type-0);
  margin: auto;
  margin-block: 4rem;
}

@media only screen and (max-width: 750px) {
  .htec-sponsors-table {
    font-size: .85rem;
  }
}

.htec-sponsors-table tr {
  height: 3rem;
}

.htec-sponsors-table thead th {
  line-height: 1.75;
  border-bottom: 1px solid var(--logo-color);
}

.htec-sponsors-table th:first-child {
  text-align: left;
  padding-inline-start: 0;
}

.htec-sponsors-table tbody th {
  text-align: left;
}

.htec-sponsors-table th,
.htec-sponsors-table td {
  line-height: 1.5;
}

.htec-sponsors-table td {
  text-align: center;
}

.htec-sponsors-table-bleft  {
  border-left: 1px solid var(--logo-color);
}

@media only screen and (min-width: 600px) {

  .htec-sponsors-table th,
  .htec-sponsors-table td {
    padding-block: .2rem;
    padding-inline: .5rem;
  }

  .htec-sponsors-table td {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 800px) {

  .htec-sponsors-table th,
  .htec-sponsors-table td {
    padding-block: .5rem;
    padding-inline: 1rem;
  }
}

.border-bottom > * {
  border-bottom: 1px solid var(--logo-color);
  line-height: 1.75;
}

.htec-site-header.sponsors .htec-site-back {
  gap: 0;
  color: var(--brand-color-alt);
}

.htec-site-header.sponsors .htec-site-back:is(:focus) {
  outline: none;
  color: var(--brand-color);
  text-decoration: underline;
}

.htec-site-header.sponsors {
  min-height: auto;
  text-align: start;
}

.htec-site-header.sponsors .htec-wrap {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  padding-block: 2rem 0;
  justify-content: space-between;
}

.htec-site-header.sponsors .htec-wrap .htec-logo {
  height: 3rem;
}

.htec-site-header.sponsors h1 {
  font-size: var(--type-4);
}

.htec-sponsors-list {
  margin-block: 4rem 6rem;
}

.htec-sponsors-item {
  margin-block: 2rem 4rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}

.htec-sponsors-item h3 {
  font-size: var(--type-2);
}

.htec-sponsors-container:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.htec-sponsors-socials {
  gap: 1rem;
  display: flex;
  margin-block-end: 1rem;
}

.htec-sponsors-socials a {
  color: var(--brand-color-alt);
}

.htec-sponsors-socials a:hover,
.htec-sponsors-socials a:focus
{
  color: var(--brand-color);
  outline-color: var(--brand-color);
}

.htec-sponsors-socials svg {
  width: 2rem;
  height: 2rem;
}

.htec-sponsors-logo {
  display: block;
  fill: var(--text-color);
  color: var(--logo-color);
  width: 14rem;
  max-height: 8rem;
  min-height: 7rem;
  display: flex;
  align-items: center;
}

.htec-sponsors-logo:is(picture) {
  margin-block: 2rem;
}

picture img {
  max-width: 100%;
  display: block;
}

svg.agilita {
  fill: #272525;
}

svg.asbrucon {
  fill: #000;
}

@media (prefers-color-scheme: dark) {

  svg.agilita,
  svg.asbrucon {
    fill: var(--logo-color);
  }
}

.htec-sponsors-badge {
  text-transform: uppercase;
  font-weight: 600;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0;
  color: var(--background-color);
  font-size: 1rem;
  background-image: linear-gradient(55deg, var(--brand-color-alt), var(--brand-color));
    /*clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);*/

}

.htec-sponsors-badge {
  color: white;
}

@media only screen and (min-width: 900px) {
 .htec-sponsors-item {
  flex-direction: row;
 }

 .htec-sponsors-container:first-child {
    align-items: flex-start;
  }
}

.htec-sponsors-overview-list {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.htec-sponsors-overview-list a {
  width: fit-content;
}

.htec-sponsors-overview-list li:nth-child(2)::after{
    content: "\a";
    white-space: pre;
}

.htec-sponsors-overview-list .htec-sponsors-logo {
  width: 8rem;
  max-height: 4rem;
  min-height: 4rem;
}

.htec-sponsors-overview-list .htec-sponsors-logo:is(picture) {
    margin-block: 0;
}

.htec-sponsors-overview-info {
  text-align: center;
  margin-block-start: 3rem;
}

.htec-sponsors-overview-info p {
  margin-block-end: 2rem;
}

.htec-wrap.sponsors {
  text-align: center;
}

.htec-wrap.sponsors .htec-sponsors-badge {
  display: block;
  margin-inline: auto;
  margin-block: 2rem;
}

@media only screen and (min-width: 900px) {
  .htec-sponsors-overview-list {
    gap: 4rem;
  }

  .htec-sponsors-overview-list .htec-sponsors-logo {
    width: 12rem;
    max-height: 6rem;
    min-height: 6rem;
  }
}

.htec-sponsors-future-list {
  list-style-type: square;
  display: inline-block
}

.htec-sponsors-future-list li {
  text-align: left;
  margin-block: .5rem;
}